#pic_show.row
  .col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-heading.pic_image
        = image_tag @pic.image.url, class: 'img-responsive center-block'
      .panel-body
        %h1= @pic.title
        %p= @pic.description
      .panel-footer
        .row
          .col-sm-6
            %p.user
              by
              = @pic.user.email
          .col-sm-6
            .btn-group.pull-right
              - if current_user && current_user.liked?(@pic)
                = link_to unlike_pic_path(@pic), method: :put, class: 'btn btn-primary' do
                  %span.glyphicon.glyphicon-thumbs-up
                  = @pic.get_upvotes.size
              - else
                = link_to like_pic_path(@pic), method: :put, class: 'btn btn-default' do
                  %span.glyphicon.glyphicon-thumbs-up
                  = @pic.get_upvotes.size
              - if current_user && @pic.user && current_user.id == @pic.user.id
                = link_to edit_pic_path, class: 'btn btn-default' do
                  Fix Pic
                = link_to pic_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
                  Delete
